.search-results {
    overflow: hidden;
    width: 100%;
}

.search-results.light {
    color: #000;
}

.search-results.dark {
    color: #fff;
}

.no-results {
    padding: 100px;
    text-align: center;
}

.error-message {
    color: red;
    padding: 100px;
    text-align: center;
}

.results {
    margin: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.radio-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sorting-options {
    width: 20%;
    margin: 0;
    padding-right: 0.5rem;
    padding-left: 1rem;
    padding-bottom: 2rem;
}

.results-layout {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.keywords {
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}

.keywords span {
    padding: 4px;
}

/* Media query for mobile devices */
@media only screen and (max-width: 767px) {
    .sorting-options {
        display: flex;
        flex-direction: column;
        width: 90%;
    }
    .radio-group {
        flex-direction: row;
        align-items: flex-start;
    }
    .radio-group label {
        margin-right: 0.5rem;
    }
}
