.subheader {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.subheader.light {
    background-color: lightgray;
    color: black;
}

.subheader.dark {
    background-color: gray;
    color: white;
}

.subheader h2 {
    margin: 0;
}
